services:
  discount-service:
    build: .
    container_name: discount-service
    ports:
      - "8087:8087"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - APP_SERVER_PORT=8087
      - MONGODB_HOST=mongo
      - MONGODB_PORT=27017
      - MONGODB_USERNAME=root
      - MONGODB_PASSWORD=secret
      - MONGODB_DATABASE=discount
      - MONGODB_AUTO_INDEX_CREATION=true
      - MONGODB_AUTHENTICATION_DATABASE=admin
      - KEYCLOAK_ISSUER_URI=http://host.docker.internal:8081/realms/discount-realm
      - KEYCLOAK_REALM=discount-realm
      - KEYCLOAK_CLIENT_ID=discount
    depends_on:
      mongo:
        condition: service_started
      keycloak:
        condition: service_healthy

  mongo:
    image: mongo:8.0
    container_name: discount-service-mongo
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_DATABASE=discount
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=secret
    volumes:
        - type: tmpfs
          target: /data/db
        - ./scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: discount-service-keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=dev-mem
      - KC_IMPORT=/opt/keycloak/data/import/keycloak-realm.json
      - KC_HOSTNAME_URL=http://host.docker.internal:8081
    ports:
      - "8081:8080"
    depends_on:
      - mongo
    command: start-dev --import-realm
    volumes:
      - ./scripts/keycloak-realm.json:/opt/keycloak/data/import/keycloak-realm.json:ro
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/localhost/8080 && exit 0 || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 15
      start_period: 120s

